#include "soc.dtsi"
#include "spi.dtsi"
#include "pinctrl.dtsi"
#include "ysl-pinctrl.dtsi"
#include "misc.dtsi"
#include "android.dtsi"
#include "touchscreen.dtsi"
#include "battery.dtsi"
#include "display.dtsi"
#include "power.dtsi"